<!DOCTYPE html>

<html>
    <head>
        <title>Photos</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="Header HeaderScrolled"> 
          <div class="HeaderGroup">
                <a href="/"><h1>Photo Gallery</h1></a>
                <a class="Photos" href="/photo?id=1">Photo</a>
                <a class="Photographer" href="/photographer">Photographer</a>
            </div>
        </div>
        <form action="/">
            <input type="text" name="type">
            <input type="submit">
        </form> 
        <div class="photoGallery">

            <%@db.execute('SELECT id, longUrl, user_id, user FROM photos LIMIT 27;') do |id, url, user_id, user| %>
                <div class="image">
                    <p><%=user_id%> <%=user%></p><a href="photo?id=<%=id%>&type=<%=@type%>"><img src="<%=url%>"></a>
                </div>
            <%end%>
         </div>
    </body>
</html>
